<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="carrousel-element">
  <template>
    <style>
      section {
        display: block;
        text-align: center;
        height: 100px;
        width: 400px;
        align:center;
      }
      paper-card {
        display: inline-block;
        height: 100%;
        width: 60%;
      }
      img {
        height: 100%;
        width: 50%;

      }
      paper-icon-button {
        color: gray;
        bottom: 30%;
        width: 15%;
      }
    </style>
      <section>
        <paper-icon-button id="regreso" icon="chevron-left"  on-click="_changeModalLeft"></paper-icon-button>
        <paper-card>
          <template id="templateCarrusel" is="dom-repeat" items="[[listaImagenes]]" as="imageSrc">
            <template is="dom-if" if="[[_isEqual(activeImg, index)]]">
              <img src="[[imageSrc]]" alt="[[imageSrc]]">
            </template>
          </template>
        </paper-card>
        <paper-icon-button id=avance icon="chevron-right" on-click="_changeModalRight"></paper-icon-button>
      </section>
  </template>
  <script>
    (function carrouselElement(customElements) {
      'use strict';

      class CarrouelElement extends Polymer.Element {
        static get is () { return 'carrousel-element'};
        static get properties() {
          return {
            listaImagenes: {
              type: Array,
              value: ['/imagenes/mario.jpg', '/imagenes/luigi.jpg', '/imagenes/peach.jpg', '/imagenes/baby-browser.jpg', '/imagenes/carnivora.jpg', '/imagenes/estrella.jpg', '/imagenes/toad.jpg', '/imagenes/tortuga-roja.jpg', '/imagenes/tortuga-verde.jpg']
              //MANDAR EVENTO CUANDO CAMBIE PARA QUE SE RECIBA MAS ARRIBA Y SE PYEDA GUARDAR EL IDENTIFICADOR DEL LA
            },
            activeImg: {
              type: Number,
              value: 0
            },
            indexImg:{
              type: Number,
              value:0,
              reflectToAttribute:true
            }
          };
        }

        _verDirecion(imageSrc2, indexx){
          console.log(imageSrc2+"-"+indexx);
        }
        _isEqual(activeImg, index) {
          return activeImg == index;
        }
        _changeModalLeft() {
          if (this.activeImg == 0) {
            this.indexImg=this.listaImagenes.length-1;
            this.activeImg=this.listaImagenes.length-1;
            this.$.templateCarrusel.index=this.listaImagenes.length-1;
            return;
          } else {
            this.activeImg = this.activeImg - 1;
            this.indexImg=this.activeImg;
            }
        }
        _changeModalRight() {
          console.log(this.$.avance);
          let arrayLenght = this.listaImagenes.length
          if (this.activeImg == arrayLenght - 1) {
            this.activeImg=0;
            this.$.templateCarrusel.index=0;
            this.indexImg=this.activeImg;
            return;
          } else {
            this.activeImg = this.activeImg + 1;
            this.indexImg=this.activeImg;
          }
        }
        _devuelveIndex(index){
          console.log("entro al evento");
          this.dispatchEvent(new CustomEvent('index', {
            detail: {
              index: index
            }
          }));
        }
      }

      window.customElements.define(CarrouelElement.is, CarrouelElement);
    })(window.customElements);
  </script>

</dom-module>
