<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">

<dom-module id="contact-card">
  <template>
    <style>
      paper-card {
        color: orange;
        cursor: pointer;
        margin: 10px 2px 0 0;
        height: 125px;
        text-align: left;
        width: 98%;
        border: silver 5px solid;
        border-image-source: url("/imagenes/pastilla-61.png");
        border-image-slice: 30;
        border-radius:10px;
      }
      p {
        margin: 0;
        padding: 0 20px;
      }
      .rate-image {
        position: absolute;
        top: 0;
        right: 0;
        left:164px;
        bottom: 0;
        width: 120px;
        background-size: cover;
      }
      paper-button {
        background-color: transparent;
        wid
        th:30px;
      }
      .iconosP{
        width: 30px;
        height: 30px;
        border:2px;
        border-radius: 50px;

        /* margin: 5px 2px 0 1px; */
      }
      .botones{
        width:50px;
        display:flex;
        align-items:flex-end;
      }
      #encabezadoNombre{
        color:blue;
        font-size:16px;
        font-weight: bold;
        max-width:130px;
      }
      #encabezadoTelefono{
        color:orange;
        font-size:14px;
        font-weight: bold;
      }

      paper-button{
        size:30px, 30px;
      }
      h1{
        align-self: auto;
      }

    </style>
    <paper-card >
      <P id="encabezadoNombre"> [[contactName]]</P>
      <P id="encabezadoTelefono">[[contactPhone]]</P>
      <div class="botones">
      <paper-button class="iconosP" on-click="_EliminarContacto"><img class="iconosP" src="/imagenes/eliminaPersona.png" alt=""></paper-button>
      <paper-button class="iconosP" on-click="_modificaContacto"><img class="iconosP" src="/imagenes/modificarPersona.png" alt=""></paper-button>
      <<div>
      <div class="rate-image" on-click="_consultaContacto"></div>

      <!-- <paper-ripple></paper-ripple> -->
    </paper-card>
  </template>
  <script>
    (function contactCard(customElements) {
      'use strict';

      class ContactCard extends Polymer.Element{
        static get is() {
          return 'contact-card';
        }
        static get properties() {
          return {
            contactName: {
              type: String,
            },
            contactPhone: {
              type: String,
            },
            contactCorreo: {
              type: String,
            },
            contactIs: {
              type: String,
            },
            contactId: {
              type: String,
              reflectToAttribute:true
            },
            contactPhoto: {
              type: Array,
              // reflectToAttribute:true
            },
            posicionImagen: {
              type: String,
              observer: '_contactPhoto'
            }
          };
        }
        _contactPhoto() {
          console.log(this.contactPhoto);
          this.shadowRoot.querySelector('.rate-image').style.backgroundImage = "url("+ this.contactPhoto[this.posicionImagen] +")";//AQUI VAMOS A CARGAR LAS IMAGNES QUE CORRESPONDAN AL CONTActo

          console.log(this.contactPhoto);
          console.log("rate-image---------"+this.shadowRoot.querySelector('.rate-image').style.backgroundImage);
        }
        _EliminarContacto(event) {
          console.log("nombreEli: "+this.contactId);
          this.dispatchEvent(new CustomEvent('elimina-contacto', {
            bubbles: true,
            composed: true,
            detail: {
              id: this.contactId
            }}));

      }
      _modificaContacto(event) {
        console.log("nombreEli: "+this.contactId);
        this.dispatchEvent(new CustomEvent('actualiza-contacto', {
          bubbles: true,
          composed: true,
          detail: {
            id:this.contactId,
            name:this.contactName,
            phone:this.contactPhone,
            correo:this.contactCorreo,
            isContacto:this.contactIs,
            posicionImagen:this.posicionImagen
          }}));

    }
    _consultaContacto(event) {
      console.log("nombre: "+this.contactId);
      this.dispatchEvent(new CustomEvent('consulta-contacto', {
        bubbles: true,
        composed: true,
        detail: {
          id:this.contactId,
          name:this.contactName,
          phone:this.contactPhone,
          correo:this.contactCorreo,
          isContacto:this.contactIs,
          posicionImagen:this.posicionImagen
        }}));

  }
    }
      window.customElements.define(ContactCard.is, ContactCard)
    })(window.customElements)
  </script>

</dom-module>
