<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="contact-card.html">
<!-- <link rel="import" href="contact-panel.html"> -->
<link rel="import" href="carrousel-element.html">
<!-- <link rel="import" href="/reloj/reloj.html"> -->

<dom-module id="contacts-app">
  <template>
    <style>
    app-drawer {
      width:100%;
    }
    app-drawer {
      --app-drawer-content-container: {
         background-color: #49678D;
       }
    }
    .title {
      display:flex;
      font-size: 20px;
      font-weight: bold;
      height:40px;
      align:center;
    }
    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }
    app-toolbar {
      text-align: center;
    }
    .principal {
      background-color: #4785d1;
      color: white;
      height: 45px;
      margin: 30px 20px 0 10px;
    }
    #nuevoContacto,{
      width: 200px;
      left:200px;
    }
    #buscarContacto{
      width: 150px;
      height=30px
      align-content: center;
    }
    paper-dialog {
      max-width:700px;
      max-width:450px;
      padding: 5px 20px;
      height:800px;
      align-items:center;

    }
    contact-card{
      width:300px;
      min-width:300px;
      display:inline-flex;
      flex-direction: column;
    }
    .title{
      background-color: orange;
      color: #fff;
    }
    #tarjetasContactos{
      display:flex;
      flex: auto;
      flex-direction:row;
    }
    #buscarC{
      background-image:linear-gradient(rgba(0, 200, 255, 1), rgba(30, 100, 200, 0.9));
      background-size: cover;

      border-radius: 10px;
      border-color: #909090;
      color:#CAC4B0;
      /* border: none; */
      /* -webkit-appearance:
      -moz-appearance: none; */
      font-family: inherit;
      font-size: 20px;
      }
      #elimina1, #elimina2{
        width:60px;
        background-color: #4785d1;
        color: white;
        left:65px;
      }
      #dialogEli, #dialogConfirmaReg, #dialogConfirmaAct{
        width:300px;
        height:170px;
        overflow: hidden;
        padding: 25px 1px;

      }
      #etiquetaRegistro{
        position:static;
        color:red;
        /* align-content: flex-start; */
        font-size: 12px;
        height:12px;
        opacity:.7;
      }
      .consultaContacto{
        margin: 0px;
        color: var(--text-color);
        border-style:hidden;
        background-color: transparent;
        font-family: "Open Sans", sans-serif;
        font-weight: 50;
        font-size: 17px;
      }
      #dialogConsul{
        height:290px;
        overflow:hidden;
        background-color:black;
        opacity:.5;
      }
      paper-input{
        width:350px;
        height:20px;
      }
      #registroContacto{
      left:35px;
      }
      #registroContactoCan{
      left:10px;
      }
      #actualizarCon{
      left:35px;
      }
      #cancelarActualizarCon{
      left:10px;
      }
      #nameConsul, #correoConsul, #phoneConsul, #isConsul{
        width:350px;
        color:blue;
        font-style:bold;
      }
      .labelConsulta{
        font-style:bold;
        color:white;
      }
      #verConsulta{
        left:130px;
      }
      #dialog, #dialogUp{
        min-height=600px;
      }

    </style>

        <div class="title" main-title>Contactos
          <!-- <reloj-p></reloj-p> -->
        </div>
        <paper-button class="principal" id="nuevoContacto" raised on-click="_openDialog" align="center">Nuevo Contacto</paper-button>
        <!-- <input id="buscarC" type="text" name="" value="">
        <paper-button class="principal" id="buscarContacto" on-click="_buscarContact" >Buscar</paper-button> -->
        <div class="scroll-contacts">
          <template id="tarjetasContactos" is="dom-repeat" items="{{contactList}}" as="contact">
            <contact-card contact-id="[[contact.idContacto]]"
                          contact-name="[[contact.nombre]]"
                          contact-phone="[[contact.telefono]]"
                          contact-correo="[[contact.correo]]"
                          contact-is="[[contact.isContacto]]"
                          contact-photo="[[listaImagenes]]"
                          lista-imagenes="[[listaImagenes]]"
                          posicion-imagen="[[contact.posicionImagen]]"
                          </contact-card>
          </template>
        </div>
      <!-- </app-drawer>
    </app-drawer-layout> -->

    <paper-dialog id="dialog"
                  entry-animation="scale-up-animation"
                  exit-animation="fade-out-animation"
                  with-backdrop
                  >
      <h2>Nuevo Contacto</h2>
      <carrousel-element id="carrusel"></carrousel-element>
      <paper-input id="name" label="Nombre" value="" allowed-pattern="^[a-zA-Z ]" auto-validate>
        <!-- <iron-icon icon="social:mood" slot="prefix"></iron-icon> -->
      </paper-input>
      <label id="etiquetaRegistro">{{mensajeNombre}}</label>
      <paper-input id="phone" label="Telefono" value="" allowed-pattern="^[0-9]" maxlength="10" auto-validate>
        <!-- <iron-icon icon="hardware:phone-android" slot="prefix"></iron-icon> -->
      </paper-input>
        <label id="etiquetaRegistro">{{mensajeTelefono}}</label>
      <paper-input id="correo" label="Correo" value="" allowed-pattern="^[a-zA-Z0-9@._-]" auto-validate>
        <!-- <iron-icon icon="hardware:phone-android" slot="prefix"></iron-icon> -->
      </paper-input>
      <label id="etiquetaRegistro">{{mensajeCorreo}}</label>
      <paper-input id="isContacto" label="IS" value="" allowed-pattern="^[a-zA-Z0-9]" maxlength="5" auto-validate>
        <!-- <iron-icon icon="hardware:phone-android" slot="prefix"></iron-icon> -->
      </paper-input>
      <label id="etiquetaRegistro">{{mensajeIs}}</label><br>
      <paper-button id="registroContacto" class="principal" on-click="validaDatosReg">Añadir Contacto</paper-button>
      <paper-button id="registroContactoCan" class="principal" on-click="_cancelarNuevo">Cancelar</paper-button>
      <paper-dialog id="dialogConfirmaReg">
        <h3 align="center">Registro</h3>
        <p>¿Confirma el registro del contacto?</p>
        <paper-button id="elimina1" class="" on-click="_newContact">Aceptar</paper-button>
        <paper-button id="elimina2" class="" on-click="_cancelarConfReg">Cancelar</paper-button>
      </paper-dialog>
    </paper-dialog>
    <paper-dialog id="dialogConsul" entry-animation="scale-up-animation" exit-animation="fade-out-animation"  with-backdrop>
      <br><label class="labelConsulta" for="nameConsul">Nombre: </label>
      <input id="nameConsul" class="consultaContacto" label="Nombre" disabled>
      <label  class="labelConsulta" for="phoneConsul">Telefono:</label>
      <input id="phoneConsul" class="consultaContacto" label="Telefono" disabled>
      <label class="labelConsulta" for="correoConsul">Correo:</label>
      <input id="correoConsul" class="consultaContacto" label="Correo" disabled>
      <label class="labelConsulta" for="isConsul">IS:</label>
      <input id="isConsul" class="consultaContacto" label="IS" disabled/>
      <br>
      <paper-button id="verConsulta" class="principal" on-click="_aceptarConsulta">Aceptar</paper-button>
    </paper-dialog>
    <paper-dialog id="dialogUp">
      <h2 align="center">Actualizar</h2>
      <carrousel-element id="carrusel1" images-list="[[listaImagenes]]" active-img="{{contactoActualizar.activeImg}}"></carrousel-element>
      <paper-input id="nameInput" label="Nombre" value="" allowed-pattern="^[a-zA-Z ]" auto-validate></paper-input>
      <label id="etiquetaRegistro">{{mensajeNombre}}</label>
      <paper-input id="phoneInput" label="Teléfono" value="" allowed-pattern="^[0-9]" maxlength="10" auto-validate></paper-input>
      <label id="etiquetaRegistro">{{mensajeTelefono}}</label>
      <paper-input id="correoInput" label="Correo" value="" allowed-pattern="^[a-zA-Z0-9@._-]" auto-validate></paper-input>
      <label id="etiquetaRegistro">{{mensajeCorreo}}</label>
      <paper-input id="isInput" label="IS"  value="" allowed-pattern="^[a-zA-Z0-9]" maxlength="5" auto-validate>></paper-input>
      <label id="etiquetaRegistro">{{mensajeIs}}</label><br>
      <paper-button id="actualizarCon" class="principal" on-click="validaDatosUp">Actualizar</paper-button>
      <paper-button id="cancelarActualizarCon"class="principal" on-click="cancelarActualizar">Cancelar</paper-button>
    </paper-dialog>
    <paper-dialog id="dialogEli">
      <h3 align="center">Eliminar</h3>
      <p>¿Confirma la eliminación del contacto?</p>
      <paper-button id="elimina1" class="" on-click="removeContacto">Eliminar</paper-button>
      <paper-button id="elimina2" class="" on-click="_cancelarConfAct">Cancelar</paper-button>
    </paper-dialog>

    <paper-dialog id="dialogConfirmaAct">
      <h3 align="center">Actualizar</h3>
      <p>¿Confirma actualización del contacto?</p>
      <paper-button id="elimina1" class="" on-click="_updateContact">Aceptar</paper-button>
      <paper-button id="elimina2" class="" on-click="_cancelarconfAct">Cancelar</paper-button>
    </paper-dialog>

    <iron-ajax
      id="iajax"
      auto
      url="http://localhost:8080/JSConsole/rest/contactos/"
      handle-as="json"
      on-response="_handleResponse">
      </iron-ajax>
      <iron-ajax
        id="guardaajax"
        url="http://localhost:8080/JSConsole/rest/contactos/"
        handle-as="json"
        loading="{{cargando}}"
        method="POST"
        content-type="application/json"
        <!-- on-response="respuestaRecibida"
        on-error="errorRecibido" -->
      ></iron-ajax>
      <iron-ajax
        id="actajax"
        url="http://localhost:8080/JSConsole/rest/contactos/"
        handle-as="json"
        loading="{{cargando}}"
        method="PUT"
        content-type="application/json"
        <!-- on-response="respuestaRecibida"
        on-error="errorRecibido" -->
      ></iron-ajax>
      <!-- <iron-ajax
        id="eliajax"
        url="http://localhost:8080/JSConsole/rest/contactos/"
        handle-as="json"
        loading="{{cargando}}"
        method="DELETE"
        content-type="application/json"
        on-response="respuestaRecibida"
        on-error="errorRecibido"
      ></iron-ajax> -->

  </template>

  <script>
    (function ContactsApp(customElements) {
      'use strict';
      class ContactsApp extends Polymer.Element {
        constructor(){
          super();
          //this.obtenerContactos();
        }
        static get is() {
          return 'contacts-app';
        }
        static get properties() {
          return {
            contactList: {
              type: Object,
            },
            newContact: {
              type: Array,
              value: {
                name: 'Contact',
                phone: 434
              }
            },
            listaImagenes:{
              value: ['/imagenes/mario.jpg', '/imagenes/luigi.jpg', '/imagenes/peach.jpg', '/imagenes/baby-browser.jpg', '/imagenes/carnivora.jpg', '/imagenes/estrella.jpg', '/imagenes/toad.jpg', '/imagenes/tortuga-roja.jpg', '/imagenes/tortuga-verde.jpg']
            },
            activeContact: {
              type: Object,
              value:{name:''}
            },
            contactoActualizar: {
              type: Object,
              value:{}
            },
            idContacto:{
              type: String
            },
            idContactEl:{
              type: String
            },
            mensajeIs:{
              type: String,
              value:""
            },
            mensajeTelefono:{
              type: String,
              value:""
            },
            mensajeCorreo:{
              type: String,
              value:""
            },
            mensajeNombre:{
              type: String,
              value:""
            }
          };
        }
        _openDialog() {
          this.$.dialog.open();
        }
        _cancelarNuevo() {
          this.$.dialog.close();
          this.mensajeIs="";
          this.mensajeTelefono="";
          this.mensajeCorreo="";
          this.mensajeNombre="";
        }
        cancelarActualizar() {
          this.$.dialogUp.close();
          this.mensajeIs="";
          this.mensajeTelefono="";
          this.mensajeCorreo="";
          this.mensajeNombre="";
        }
        _cancelarContact() {
          this.$.dialogEli.close();
        }
        _aceptarConsulta() {
          this.$.dialogConsul.close();
        }
        _cancelarConfReg() {
          this.$.dialogConfirmaReg.close();
        }
        _cancelarConfAct() {
          this.$.dialogEli.close();
        }
        validaDatosReg(){
          this.mensajeIs="";
          this.mensajeTelefono="";
          this.mensajeCorreo="";
          this.mensajeNombre="";
          let resultado=0;
          let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
          if(this.$.name.value.length<1){
            this.mensajeNombre="Error: el nombre no puede estar vacio";
            resultado=1;
          }
          if(this.$.phone.value.length!=10){
            this.mensajeTelefono="Error: longitud del telefono (10 números)";
            resultado=1;
          }
          if(this.$.isContacto.value.length<4){
            this.mensajeIs="Error: IS incorrecto";
            resultado=1;
          }
          if(emailRegex.test(this.$.correo.value)==false){
            this.mensajeCorreo="Error: formato del correo";
            resultado=1;
          }
          if(resultado==0){
            this._newContact();
            this.mensajeIs="";
            this.mensajeTelefono="";
            this.mensajeCorreo="";
            this.mensajeNombre="";
          }
        }
        _newContact() {
          var y=this.$.carrusel.indexImg;
          this.newContact.nombre = this.$.name.value.toUpperCase();
          this.newContact.telefono = this.$.phone.value;
          this.newContact.posicionImagen = ""+this.$.carrusel.indexImg;//AQUI SE VA A GUARDAR LA POSICION DE LA IMAGEN QUE SE SELECCIONO AL CARGAR LAS IMAGENES DESDE EL ARREGLO DE DIRECCIONES DE IMAGENES
          this.newContact.correo = this.$.correo.value.toUpperCase();
          this.newContact.isContacto = this.$.isContacto.value.toUpperCase();
          // this.push('contactList', this.newContact);//actualiza la lsita de contactos en memoria
          this.activeContact = this.contactList;
          this.$.name.value = "";
          this.$.phone.value = "";
          this.$.carrusel.indexImg=0;
          console.log("hola"+this.$.carrusel.indexImg);
          this.$.correo.value="";
          this.$.isContacto.value="";
          this.$.guardaajax.body=this.newContact;// this.$.panelContactos.update();
          this.$.guardaajax.generateRequest();
          this.$.iajax.generateRequest();
          console.log("genero el request");
          this.$.dialog.close();
        }

        confirmaRegistro(){
          this.$.dialogConfirmaReg.open();
        }
        confirmaActualizacion(){
          this.$.dialogConfirmaAct.open();
        }
        _updateContact() {
          this.contactoActualizar.id=this.idContacto;
          console.log("this.contactoActualizar.id"+this.contactoActualizar.id);
          this.contactoActualizar.nombre = this.$.nameInput.value.toUpperCase();
          this.contactoActualizar.posicionImagen = ""+this.$.carrusel1.indexImg;//AQUI SE VA A GUARDAR LA POSICION DE LA IMAGEN QUE SE SELECCIONO AL CARGAR LAS IMAGENES DESDE EL ARREGLO DE DIRECCIONES DE IMAGENES
          console.log("this.contactoActualizar.posicionImagen: "+this.contactoActualizar.posicionImagen);
          this.contactoActualizar.telefono = this.$.phoneInput.value;
          this.contactoActualizar.correo = this.$.correoInput.value.toUpperCase();
          this.contactoActualizar.isContacto = this.$.isInput.value.toUpperCase();
          this.$.nameInput.value = "";
          this.$.phoneInput.value = "";
          this.$.carrusel1.indexImg=0;
          this.$.correoInput.value="";
          this.$.isInput.value="";
          this.$.actajax.url="http://localhost:8080/JSConsole/rest/contactos/"+""+this.contactoActualizar.id;
          this.$.actajax.body=this.contactoActualizar;
          this.$.actajax.generateRequest();
          this.$.iajax.generateRequest();
          this.$.dialogUp.close();
          console.log("genero el request");
        }
        validaDatosUp(){
          this.mensajeIs="";
          this.mensajeTelefono="";
          this.mensajeCorreo="";
          this.mensajeNombre="";
          let resultado=0;
          let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
          if(this.$.nameInput.value.length<1){
            this.mensajeNombre="Error: el nombre no puede estar vacio";
            resultado=1;
          }
          if(this.$.phoneInput.value.length!=10){
            this.mensajeTelefono="Error: longitud del telefono (10 números)";
            resultado=1;
          }
          if(this.$.isInput.value.length<4){
            this.mensajeIs="Error: IS incorrecto";
            resultado=1;
          }
          if(emailRegex.test(this.$.correoInput.value)==false){
            this.mensajeCorreo="Error: formato del correo";
            resultado=1;
          }
          if(resultado==0){
            this._updateContact()
            this.mensajeIs="";
            this.mensajeTelefono="";
            this.mensajeCorreo="";
            this.mensajeNombre="";
          }

        }
         removeContacto() {
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("DELETE", "http://localhost:8080/JSConsole/rest/contactos/" + this.idContactoEl, true);
          xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 204) {
              console.log("entrro a eliminar");
            }
          };
          xmlhttp.send();
          this.$.iajax.generateRequest();
          this.$.dialogEli.close();
        }
        _eliminaContact() {
          this.$.eliajax.url+=this.idContactoEl;
          console.log("id a eliminar: "+this.$.eliajax.url);
          this.$.eliajax.generateRequest();
          this.$.iajax.generateRequest();
          this.$.dialogEli.close();
        }
        //función para abrir el dialogo de modificacion de contacto
        _openDialogUp(contactUpdate) {
          this.idContacto=contactUpdate.id;
          console.log("id recibido evento:"+this.idContacto);
          this.$.nameInput.value = contactUpdate.name;
          this.$.phoneInput.value = contactUpdate.phone;
          this.$.correoInput.value=contactUpdate.correo;
          this.$.isInput.value=contactUpdate.isContacto;
          this.$.carrusel1.indexImg = contactUpdate.posicionImagen;
          this.$.carrusel1.activeImg = contactUpdate.posicionImagen;
          this.$.dialogUp.open();
        }
        _openDialogConsul(contactUpdate) {
          this.$.nameConsul.value = contactUpdate.name;
          this.$.phoneConsul.value = contactUpdate.phone;
          this.$.correoConsul.value=contactUpdate.correo;
          this.$.isConsul.value=contactUpdate.isContacto;
          this.$.dialogConsul.open();
        }
        _openDialogEli(contactEli) {
          this.idContactoEl=contactEli.id;
          this.$.dialogEli.open();
        }
        _handleResponse(event) {
          console.log(event.detail.response);
          this.contactList=event.detail.response;
           var x=document.querySelector("contacts-app");
           x.contactList=event.detail.response;
          // console.log("lista de contactos con iron"+x)
          // x.items=event.detail.response;
          console.log("lista de contactos con iron"+this.contactList[0].nombre);
        }
      }

      customElements.define(ContactsApp.is, ContactsApp);
    })(window.customElements);
    this.addEventListener("elimina-contacto",function(e){
      var appl=document.querySelector("contacts-app");
      appl._openDialogEli(e.detail)
    });
    this.addEventListener("actualiza-contacto",function(e){
        appl=document.querySelector("contacts-app");
       console.log("nombre activo:   "+appl.activeContact.name);
       appl._openDialogUp(e.detail);
    });
    this.addEventListener("consulta-contacto",function(e){
       var appl=document.querySelector("contacts-app");
       appl._openDialogConsul(e.detail)
    });
  </script>
</dom-module>
